@tailwind base;
@tailwind components;
@tailwind utilities;

.tile.empty {
    @apply border-2 border-gray-300;
}

.key.empty {
    @apply bg-gray-300;
}

.not-present {
    background: gray;
}

.correct {
    background: green;
}

.incorrect {
    background: orange;
}
