@tailwind base;
@tailwind components;
@tailwind utilities;

.tile.empty {
    @apply leading-8;
    @apply border-2 border-gray-300;
}

.tile.not-empty {
    @apply leading-8;
    @apply border-2 border-gray-500;
}

.key.empty {
    @apply bg-gray-300;
}

.not-present {
    @apply bg-gray-500;
    @apply text-white;
}

.correct {
    @apply bg-green-600;
    @apply text-white;
}

.incorrect {
    @apply bg-amber-300;
    @apply text-white;
}

.half-black {
    background: rgba(0, 0, 0, 0.5);
}

.box1 {
    background-color: black;
    color: black;
    opacity: .7;
}
